---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vaultwarden-config
  namespace: vault
data:
  DOMAIN: "https://vault.hyrax-ghoul.ts.net"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
  namespace: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      volumes:
        - name: vaultwarden-vol
          persistentVolumeClaim:
            claimName: vaultwarden
      containers:
      - name: vaultwarden
        image: vaultwarden/server:1.35.2
        resources:
          requests:
            cpu: 15m
            memory: 110M
          limits:
            cpu: 100m
            memory: 300M
        ports:
          - containerPort: 80
        volumeMounts:
          - mountPath: "/data"
            name: vaultwarden-vol
        env:
        - name: DOMAIN
          valueFrom:
            configMapKeyRef:
              name: vaultwarden-config
              key: DOMAIN
        - name: ADMIN_TOKEN
          valueFrom:
            secretKeyRef:
              name: vaultwarden
              key: ADMIN_TOKEN
---
apiVersion: v1
kind: Service
metadata:
  name: vaultwarden
  namespace: vault
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    name: http
  selector:
    app: vaultwarden
---