---
apiVersion: v1
kind: ConfigMap
metadata:
  name: emby
  namespace: media
data:
  PUID: "3001"
  PGID: "3001"
  TZ: Asia/Tokyo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: emby
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: emby
  template:
    metadata:
      labels:
        app: emby
    spec:
      securityContext:
        fsGroup: 3001
      volumes:
        - name: emby-vol
          persistentVolumeClaim:
            claimName: emby
      containers:
      - name: emby
        image: lscr.io/linuxserver/emby:4.9.3
        volumeMounts:
          - name: emby-vol
            mountPath: /config
            subPath: config
          - name: emby-vol
            mountPath: /data/movies
            subPath: data/movies
          - name: emby-vol
            mountPath: /data/tvshows
            subPath: data/tvshows
          - name: emby-vol
            mountPath: /data/anime
            subPath: data/anime
          - name: emby-vol
            mountPath: /data/animemovies
            subPath: data/animemovies
          - name: emby-vol
            mountPath: /data/music
            subPath: data/music
        ports:
          - containerPort: 8096
          - containerPort: 8920
        envFrom:
          - configMapRef:
              name: emby
---
apiVersion: v1
kind: Service
metadata:
  name: emby
  namespace: media
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8096
    name: http
  selector:
    app: emby
---