apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: emby
  namespace: media
spec:
  defaultBackend:
    service:
      name: emby
      port:
        number: 80
  ingressClassName: tailscale
  tls:
    - hosts:
        - emby