apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich
  namespace: immich
spec:
  defaultBackend:
    service:
      name: immich
      port:
        number: 80
  ingressClassName: tailscale
  tls:
    - hosts:
        - photo