---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres
  namespace: immich
data:
  POSTGRES_USER: immich
  POSTGRES_DB: immich
  POSTGRES_INITDB_ARGS: '--data-checksums'
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: immich
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      volumes:
        - name: postgres-vol
          persistentVolumeClaim:
            claimName: immich-postgres
      containers:
      - name: postgres
        image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
        ports:
          - containerPort: 5432
        volumeMounts:
          - mountPath: "/var/lib/postgresql/data"
            name: postgres-vol
        envFrom:
          - configMapRef:
              name: postgres
          - secretRef:
              name: postgres
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: immich
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    name: tcp
  selector:
    app: postgres
---