apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: glance
  namespace: dashboard
spec:
  defaultBackend:
    service:
      name: glance
      port:
        number: 80
  ingressClassName: tailscale
  tls:
    - hosts:
        - glance